@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgba(224, 134, 134, 0.267);
}

.hr-line {
  height: 5px;
  background-color: rgb(212, 33, 20);
  width: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.gallery-text {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Style Script", cursive;
  margin-top: 50px;
}
.img-container {
  min-width: 80vw;
  min-height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  z-index: 0;
}
.img-container img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.9;
}

.img-container img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.back {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.back:hover {
  color: rgb(212, 33, 20);
}

@media (max-width: 950px) {
  img {
    min-width: 40vw;
  }
}

@media (max-width: 500px) {
  img {
    min-width: 80vw;
  }
}

@media (max-width: 365px) {
  .gallery-text h1 {
    font-size: 2.5rem;
  }
}
